$black: #000000;
$white: #ffffff;
$grey: #4e4e50;
$darkGrey: #424242;
$ligthGray: #e0e0e0;
$superLigthGray: #f5f5f5;
$darkRed: #6e2333;
$red: #930e42;
$lightRed: #c11042;
$pink: #ff4084;

$text: rgba(0,0,0,.8);
