@import "./_theme.scss";

html, body {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $lato;
}

.zoom-img {
  // width: auto !important;
  object-fit: scale-down;
}

a {
  text-decoration: none;
  outline: none;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.6rem;
}

p, ul, li {
  color: $text;
}

h1 {
  font-family: $logo;
}

h2 {
  font-family: $lato;
}

pre {
  background: #282c34;
}

*::selection
{
  background: $pink; /* WebKit/Blink Browsers */
  color: $white;
  text-shadow: none;
  border: none;
}

*::selection {
  background: $pink; /* Gecko Browsers */
  color: $white;
  text-shadow: none;
  border: none;
}

pre, code {
  font-family: monospace, monospace;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #bbbcbe;
  overflow: auto;
  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
  span {
    color: #d45656;
  }
  b {
    color: #d19151;
    font-weight: normal;
  }
  em {
    font-style: normal;
    border: 1px solid $green;
  }
  strong {
    color: #56b5c1;
    font-weight: normal;
  }
  u {
    color: #98c379;
    text-decoration: none;
  }
}
pre > code {
  word-wrap: normal;
}

.clearfix {
  clear: both;
}

.message {
  font-size: 2rem;
  width: 100%;
  background: $pink;
  color: $white;
  padding: 2rem 0;
  border-radius: .7rem;
  font-weight: 300;
  max-width: 128rem;
  margin: 2rem auto;
  text-align: center;
  display: block;
}

.medium-zoom--open {
  overflow-x: hidden;
}

@supports(display: grid) {
  .message {
    display: none;
  }
}
