@import "normalize";
@import "theme";

html, body {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $lato;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1.6rem;
}

p {
  color: $text;
}

h1 {
  font-family: $logo;
}

h2 {
  font-family: $lato;
}

pre, code {
  font-family: monospace, monospace;
  font-size: 1.6rem;
  span {
    color: #d45656;
  }
  b {
    color: #d19151;
    font-weight: normal;
  }
  u {
    color: #98c379;
    text-decoration: none;
  }
}
pre > code {
  padding: 1rem;
  word-wrap: normal;
}

.clearfix {
  clear: both;
}

.message {
  font-size: 2rem;
  width: 100%;
  background: $pink;
  color: $white;
  padding: 2rem 0;
  border-radius: .7rem;
  font-weight: 300;
  max-width: 128rem;
  margin: 2rem auto;
  text-align: center;
  display: block;
}

.medium-zoom--open {
  overflow-x: hidden;
}

@supports(display: grid) {
  .message {
    display: none;
  }
}
