@import "../../../app/style/_theme.scss";

.grid-wrapper {
  display: grid;
  height: 100vh;
  background: $white;
  grid-template-columns: 1fr;
  grid-template-rows: 18rem 1fr 18rem ;
  grid-template-areas: "header" "content" "footer";
  @media #{$tablet} {
    grid-template-rows: 10rem 1fr 18rem ;
  }
  header {
    display: grid;
    font-size: 1.8rem;
    grid-area: header;
    background: $ligthGray;
    color: $black;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: grid;
    font-size: 1.8rem;
    grid-area: footer;
    background: $ligthGray;
    color: $black;
    justify-content: center;
    align-items: center;
  }
}
