@import "../../../app/styles/_theme.scss";

.social-icons-mobile {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
  @media #{$tablet} {
    display: none;
  }
  &>div {
    margin-right: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1rem;
    &>div {
      margin-bottom: .5rem;
    }
  }
}

.social-icon-item {
  &:hover {
    cursor: pointer;
  }
}
