@import "../../../../app/styles/_theme.scss";

footer {
  font-size: 1.2rem;
  grid-area: footer;
  background: $black;
  color: $white;
  width: 100%;
  margin: 8rem auto 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
  h3 {
    margin: 3rem 0 1.6rem;
    font-family: $hand;
    font-size: 2.2rem;
    letter-spacing: .2rem;
  }
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    li {
      margin: 0 1.2rem;
      a {
        display: block;
        margin: 0 0 0 1rem;
        @include transition;
        svg {
          width: 4rem;
          opacity: 0.8;
          fill: #FFFFFF;
        }
        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
  .caret {
    width: 0;
    height: 0;
    border-style: solid;
    text-align: center;
    margin: 0 auto;
    border-width: 1.5rem 1.5rem 0 1.5rem;
    border-color: $white transparent transparent transparent;
  }
  p {
    text-align: center;
    font-weight: 300;
    color: $ligthGray;
  }
}
