@import "../../../../app/styles/_theme.scss";

.grid-wrapper {
  display: grid;
  height: 100vh;
  background: $white;
  grid-template-columns: 1fr repeat(3, 2fr) 1fr;
  grid-template-rows: 12rem 1fr 18rem ;
  grid-template-areas:
                      ". header header header ."
                      ". content content content ."
                      ". footer footer footer .";
  // @media #{$tablet} {
  //   grid-template-rows: 10rem 1fr 18rem ;
  // }
}
