@import "../../../app/styles/_theme.scss";

.portfolio-content {
  grid-area: content;
  margin: 8rem auto 0;
  max-width: 128rem;
  width: 100%;
  @media #{$tablet} {
    margin: 4rem auto 0;
  }
  h3 {
    font-family: $hand;
    font-size: 4rem;
    margin-top: 7rem;
    letter-spacing: .2rem;
    text-align: center;
  }
 .title {
   text-align: center;
   h2 {
     font-size: 4rem;
     font-family: $logo;
     @media #{$tablet} {
       margin: 0 0 4rem 0;
     }
   }
   p {
     font-size: 1.8rem;
     line-height: 2.8rem;
     font-weight: 300;
     margin: 2.5rem auto 0;
     max-width: 98rem;
     @media #{$tablet} {
       margin: 2.5rem auto 0;
     }
   }
   a {
     color: $grey;
     border-bottom: .2rem solid $pink;
     &:hover {
       color: $pink;
     }
   }
 }

 .portfolio-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 4rem;
   @media #{$tablet} {
     grid-template-columns: repeat(3, 1fr);
   }
   img {
     width: 100%;
     max-height: 30rem;
     object-fit: cover;
     object-position: top;
     @include transition;
     @media #{$tablet} {
       height: 23rem;
     }
     &:hover {
       object-position: bottom right;
     }
   }
   font: 300 2rem $lato;
   line-height: 3rem;
   margin: 1rem 0;
   @media #{$mobile} {
     font: 300 2rem $lato;
     line-height: 3rem;
   }
   h4 {
     font-size: 2.6rem;
     display: inline-block;
     text-transform: capitalize;
     margin-top: 1.6rem;
     &:hover {
       color: $pink;
     }
     &:after {
       content: "";
       background: $pink;
       width: 5rem;
       height: .3rem;
       display: block;
       margin: 1rem 0 1rem -1.5rem;
       @media #{$tablet} {
         margin: .8rem 0 .8rem -2rem;
       }
     }
   }
   p {
     text-align: left;
     font: 300 1.7rem $lato;
     line-height: 2.8rem;
     margin-bottom: 5rem;
     a {
       padding: 10px 0;
       background-image: linear-gradient($pink,$pink);
       background-repeat: no-repeat;
       background-size: 100% 1.5px;
       background-position: center bottom 28%;
       background-origin: padding-box;
       text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
       color: $pink;
       @include transition;
       &:hover {
         background-position: center top 24%;
       }
     }
   }
 }
}
