@import "../../../app/styles/_theme.scss";

.social-icons {
  display: inline-block;
  position: relative;
  display: none;
  float: left;
  top: 10rem;
  margin-left: 3rem;
  @media #{$tablet} {
    position: sticky;
    display: block;
  }
  &>div {
    margin-right: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1rem;
    &>div {
      margin-bottom: .5rem;
    }
  }
}

.social-icon-item {
  &:hover {
    cursor: pointer;
  }
}
