@import "../../../app/styles/_theme.scss";

.photo-content {
  grid-area: content;
  margin: 2rem auto 0;
  max-width: 128rem;
  width: 100%;
  @media #{$tablet} {
    margin: 2rem auto 0;
  }
  h2 {
    font-size: 4rem;
    font-family: $logo;
    text-align: center;
    @media #{$tablet} {
      margin: 2rem 0;
      font-size: 6rem;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    margin: 2.5rem auto 2rem;
    text-align: center;
    max-width: 98rem;
    @media #{$tablet} {
      margin: 1rem auto 4rem;
      max-width: 88rem;
    }
  }

  .photo-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
                         "aerial"
                         "travel"
                         "nature"
                         "people"
                         "city";
    @media #{$tablet} {
      grid-template-areas:
                           "aerial aerial"
                           "city travel"
                           "people travel"
                           "nature nature";
    }
    h3 {
      z-index: 9;
    }
    .photography-1 {
      grid-area: aerial;
      overflow: hidden;
      h3 {
        font-size: 10rem;
        left: -2rem;
        bottom: -3rem;
        font-weight: 100;
        @include transition;
        @media #{$tablet} {
          font-size: 22rem;
          left: -3rem;
          bottom: -5rem;
        }
      }
      &:hover {
        h3 {
          left: 5rem;
        }
      }
    }
    .photography-5 {
      grid-area: nature;
      overflow: hidden;
      h3 {
        font-size: 10rem;
        right: -2rem;
        bottom: -3rem;
        font-weight: 100;
        @include transition;
        @media #{$tablet} {
          font-size: 22rem;
          right: -4rem;
          bottom: -5rem;
        }
      }
      &:hover {
        h3 {
          right: 4rem;
        }
      }
    }
    .photography-2 {
      grid-area: people;
      overflow: hidden;
      &>div {
        height: 100%;
      }
      h3 {
        font-size: 10rem;
        left: -2rem;
        bottom: -3rem;
        font-weight: 100;
        @include transition;
        @media #{$tablet} {
          font-size: 18rem;
          left: -3rem;
          bottom: -4rem;
        }
      }
      &:hover {
        h3 {
          left: 2rem;
        }
      }
    }
    .photography-3 {
      grid-area: city;
      overflow: hidden;
      &>div {
        height: 100%;
      }
      h3 {
        font-size: 10rem;
        right: -2rem;
        bottom: -3rem;
        font-weight: 100;
        @include transition;
        @media #{$tablet} {
          font-size: 15rem;
          right: -2rem;
          bottom: -3rem;
        }
      }
      &:hover {
        h3 {
          bottom: 1rem;
        }
      }
    }
    .photography-4 {
      grid-area: travel;
      overflow: hidden;
      h3 {
        font-size: 10rem;
        right: -1rem;
        bottom: -3rem;
        font-weight: 100;
        @include transition;
        @media #{$tablet} {
          font-size: 19rem;
          right: -1rem;
          bottom: -5rem;
        }
      }
      &:hover {
        h3 {
          right: 1rem;
        }
      }
    }
    .category-image {
      position: relative;
      height: 200px;
      @media #{$tablet} {
        height: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.1);
        @include transition;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
