@import "../../../app/styles/_theme.scss";

.portfolio-image {
  margin-bottom: 100px;
  text-align: center;
  margin: 0 auto 85px;
  position: relative;

  img {
    width: 100%;
    max-width: 900px;
  }
  p {
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    span {
      font-size: 2.6rem;
      margin-bottom: 1.6rem;
      display: block;
    }
  }
  &.is-zoomed {
    img {
      object-fit: contain;
      object-position: center;
    }
  }
  &:after {
    content: '';
    width: 10rem;
    height: 0.2rem;
    left: 50%;
    margin-left: -5rem;
    position: absolute;
    background: $pink;
    text-align: center;
  }
}
