@import "../../../app/styles/_theme.scss";

.photo-content {
  .descr-image {
    margin-bottom: 10rem;
    text-align: center;
    margin: 3rem auto 8.5rem;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      max-width: 90rem;
    }
    .iframe-wrapper {
      padding-bottom: 56.25%;
      padding-top: 2.5rem;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: 999;
        @media #{$tablet} {
          height: 90%;
        }
      }
    }
    p {
      font-style: italic;
      font-size: 1.9rem;
      padding-top: 1rem;
      margin-bottom: 2rem;
      span {
        font-size: 2.8rem;
        margin-bottom: 1.6rem;
        display: block;
      }
    }
    &:after {
      content: '';
      width: 10rem;
      height: 0.2rem;
      left: 50%;
      margin-left: -5rem;
      position: absolute;
      background: $pink;
      text-align: center;
    }
  }
}

.category-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    object-fit: cover;
    object-position: center;
    transition: .3s ease-in-out all;
  }
  h3 {
    position: absolute;
    color: $white;
    font-weight: 300;
    margin: 0;
    padding: 0;
    @media #{$tablet} {
      font-size: 4rem;
    }
  }
}
