@import "../../../app/styles/_theme.scss";

.cv-content {
  display: grid;
  grid-area: content;
  margin: 7rem auto 0;
  max-width: 128rem;
  width: 100%;
  align-items: flex-start;
  grid-column-gap: 4rem;
  grid-template:
                 "main_info"
                 "content";
   @media #{$mobile} {
     margin: 3rem auto 0;
   }
  .main-info {
    grid-area: main_info;
    text-align: center;
    align-items: center;
    @media #{$desktop} {
      display: flex;
      text-align: left;
    }
    img {
      width: 13rem;
      height: 13rem;
      display: inline-block;
      margin: 4rem 0 2rem;
      border-radius: 50%;
      @media #{$tablet} {
        margin-top: 0rem;
      }
      @media #{$desktop} {
        width: 18rem;
        height: 18rem;
        margin-right: 4rem;
      }
    }
    .description {
      h2 {
        font-size: 3rem;
        font-weight: 400;
        margin: 0 0 1.2rem;
      }
      h3 {
        font-size: 1.8rem;
        font-weight: 300;
      }
      p {
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 300;
        max-width: 100%;
        margin: 2rem auto 0;
        font-family: $medium;
        color: $darkGrey;
        @media #{$tablet} {
          margin: 2rem auto 4rem;
          max-width: 88rem;
        }
        @media #{$desktop} {
          margin: 2rem auto 0;
          max-width: 100%;
        }
      }
    }
  }
  .cv_info {
    display: grid;
    margin-top: 4rem;
    grid-template:
                  "work-exp"
                  "coding"
                  "travel"
                  "stocks"
                  "cto"
                  "certificates";
    grid-gap: 3rem 5rem;
    @media #{$tablet} {
      grid-template:
                    "work-exp coding"
                    "work-exp travel"
                    "work-exp cto"
                    "work-exp stocks"
                    "certificates certificates";
    }
    h3 {
      font-size: 2.4rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      svg {
        width: 4rem;
        height: 3rem;
      }
    }
    p {
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: 300;
      font-family: $medium;
      color: $darkGrey;
    }
    ul {
      margin: 2rem 0 0 2rem;
      font-family: $medium;
      color: $darkGrey;
      li {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 3rem;
        list-style-type: disc;
        span {
          text-decoration: line-through;
        }
      }
    }
    .coding {
      grid-area: coding;
      h3 {
        svg {
          margin-right: .7rem;
        }
      }
    }
    .travel {
      grid-area: travel;
      h3 {
        svg {
          margin-top: -.6rem;
          margin-right: .7rem;
        }
      }
    }
    .work-exp {
      grid-area: work-exp;
      background: $superLigthGray;
      box-shadow: 2px 1px 2px 0px rgba(194,194,194,.5);
      padding: 3.5rem;
      h3 {
        margin-bottom: 2rem;
      }
      h4 {
        margin: .5rem 0;
        font-size: 1.8rem;
        font-weight: 400;
        span {
          font-size: 1.4rem;
          color: $grey;
          margin-left: .5rem;
        }
      }
      h5 {
        font-size: 1.4rem;
        font-weight: 400;
        color: $grey;
      }
      p {
        margin-bottom: 2rem;
      }
    }
    .certificates {
      grid-area: certificates;
      .certificate-wrapper {
        margin-left: 0;
        display: grid;
        grid-gap: 3.5rem;
        @media #{$mobile} {
          grid-template-columns: repeat(2, 1fr);
        }
        @media #{$tablet} {
          grid-template-columns: repeat(5, 1fr);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .stocks {
      grid-area: stocks;
      h3 {
        svg {
          margin-right: .4rem;
        }
      }
      p {
        a {
          border-bottom: .2rem solid $pink;
          &:hover {
            color: $pink;
          }
        }
      }
    }
    .cto {
      grid-area: cto;
      h3 {
        svg {
          margin-right: .3rem;
        }
      }
      a {
        border-bottom: .2rem solid $pink;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
