@import "../../../app/styles/_theme.scss";

.blog-content {
  display: block;
  grid-area: content;
  margin: 0 auto;
  max-width: 128rem;
  width: 100%;
  position: relative;
  grid-template-rows: auto auto auto 2fr;
  grid-template-areas:
                       "slider slider slider"
                       "content content content";
  @media #{$tablet} {
    grid-template-areas: "title title title"
                         "slider slider slider"
                         "subtitle subtitle subtitle"
                         "content content content";
  }
  h1 {
    grid-area: title;
    margin: 3rem auto 1rem;
    text-align: center;
    font-family: $lato;
    font-size: 2rem;
    line-height: 3.5rem;
    width: 100%;
    display: none;
    @media #{$tablet} {
      display: block;
    }
    span {
      font-size: 3.5rem;
    }
  }
  h2 {
    font-size: 4rem;
    font-family: $logo;
    text-align: center;
    margin-top: 1rem;
    @media #{$tablet} {
      margin: 4rem 0;
    }
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 300;
    margin: 2.5rem auto 2rem;
    text-align: center;
    max-width: 98rem;
    @media #{$tablet} {
      margin: 1rem auto 4rem;
      max-width: 88rem;
    }
  }
  .arrow {
    width: 10rem;
    position: absolute;
    left: 30%;
    top: 3rem;
    transform: rotate(220deg);
    display: none;
    @media #{$tablet} {
      display: block;
    }
  }
  .top-slider {
    display: flex;
    grid-area: slider;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    @media #{$tablet} {
      flex-direction: row;
      &.reverse {
        flex-direction: row-reverse;
      }
    }
    .slider-description {
      text-align: left;
      @media #{$tablet} {
        width: 50%;
        padding-right: 2rem;
        h2, h3, h5 {
          text-align: left;
        }
      }
      h3 {
        font: 300 1.5rem $lato;
        margin-top: 3rem;
        @media #{$mobile} {
          margin-top: 4rem;
        }
        @media #{$tablet} {
          font: 300 1.4rem $lato;
          margin-top: 0;
        }
      }
      h2 {
        font: 300 2.8rem $lato;
        line-height: 3rem;
        margin: 1rem 0;
        display: inline-block;
        @media #{$mobile} {
          font: 300 3.8rem $lato;
          line-height: 4rem;
        }
        &:after {
          content: "";
          background: $pink;
          width: 7rem;
          height: .3rem;
          display: block;
          margin: 1.5rem 0 1.5rem 0rem;
          @media #{$mobile} {
            margin: 1.5rem 0 2.5rem -1.5rem;
          }
          @media #{$tablet} {
            margin: 1rem 0 .5rem -2rem;
          }
        }
        &:hover {
          color: $pink;
        }
      }
      h5 {
        font: 300 1.5rem $lato;
        margin-bottom: 2rem;
      }
      p {
        text-align: left;
        font: 300 1.8rem $lato;
        line-height: 3rem;
      }
    }
    .slider-photo {
      img {
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        @media #{$tablet} {
          max-width: 60rem;
        }
      }
    }
  }
  .posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    @media #{$tablet} {
      grid-template-columns: repeat(3, 1fr);
    }
    img {
      width: 100%;
      max-height: 30rem;
      object-fit: cover;
      object-position: top;
      @include transition;
      @media #{$tablet} {
        height: 23rem;
      }
      &:hover {
        object-position: bottom right;
      }
    }
    font: 300 2rem $lato;
    line-height: 3rem;
    margin: 1rem 0;
    @media #{$mobile} {
      font: 300 2rem $lato;
      line-height: 3rem;
    }
    h4 {
      font-size: 2.6rem;
      display: inline-block;
      &:hover {
        color: $pink;
      }
      &:after {
        content: "";
        background: $pink;
        width: 5rem;
        height: .3rem;
        display: block;
        margin: 1rem 0 1rem -1.5rem;
        @media #{$tablet} {
          margin: .8rem 0 .8rem -2rem;
        }
      }
    }
    h3 {
      font: 300 1.2rem $lato;
      margin: 1rem 0 .3rem;
    }
    h5 {
      font: 300 1.4rem $lato;
    }
    p {
      text-align: left;
      font: 300 1.7rem $lato;
      line-height: 2.8rem;
      a {
        padding: 10px 0;
        background-image: linear-gradient($pink,$pink);
        background-repeat: no-repeat;
        background-size: 100% 1.5px;
        background-position: center bottom 28%;
        background-origin: padding-box;
        text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
        color: $pink;
      }
    }
  }
}
