$mobile: "(min-width: 28.75rem)"; //460px
$mobileLarge: "(min-width: 48rem)"; //768px
$tablet: "(min-width: 61.25rem)"; //980px
$tabletLarge: "(min-width: 67.5rem)"; //1080px
$desktop: "(min-width: 73.75rem)"; //1180px
$desktopLarge: "(min-width: 77.5rem)"; //1240px
