@import "../../../app/styles/_theme.scss";

.about-content {
  display: grid;
  grid-area: content;
  margin: 5rem auto 0;
  max-width: 128rem;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  align-items: flex-start;
  grid-template-areas:
                       "title"
                       "content";
  @media #{$mobile} {
    margin: 7rem auto 0;
  }
  @media #{$mobileLarge} {
    margin: 4rem auto 0;
  }
  @media #{$tabletLarge} {
    grid-template-columns: 37rem 3fr;
    grid-template-areas: "title content"
                         "title content";
  }
  .title {
    grid-area: title;
    position: relative;
    height: 100%;
    display: none;
    @media #{$tabletLarge} {
      display: block;
    }
    h2 {
      transform: none;
      font-family: $logo;
      white-space: nowrap;
      position: relative;
      @media #{$tablet} {
        font-size: 20rem;
        transform: rotate(-90deg);
        top: 60%;
        left: 2rem;
      }
      @media #{$tabletLarge} {
        left: 2rem;
      }
    }
  }
  .description {
    position: relative;
    z-index: 1;
    font-family: $medium;
    h2 {
      font-size: 3rem;
      font-weight: 400;
      margin: 3.5rem 0 1.2rem;
      &:first-child {
        margin-top: 1.5rem;
      }
    }
    .email-container {
      text-align: center;
      padding: 3rem 0;
      border-top: .1rem solid $ligthGray;
      border-bottom: .1rem solid $ligthGray;
      margin: 3rem 0;
      h3 {
        display: inline-block;
        font-size: 2.8rem;
      }
    }
    p, ul, h3, a {
      font-size: 1.8rem;
      line-height: 3.3rem;
      margin: 0;
      color: $grey;
    }
    p {
      a {
        border-bottom: .2rem solid $pink;
        @include transition;
        &:hover {
          color: $pink;
        }
      }
    }
    ul {
      li {
        list-style-type: disc;
        margin-left: 2.2rem;
      }
    }
  }
}
