@import "../../../app/styles/_theme.scss";

.menu {
  padding-bottom: 5px;
  border-bottom: .2rem solid transparent;
  &.active {
    border-bottom: .2rem solid $pink;
    padding-bottom: 5px;
  }
  svg {
    width: 2rem;
    height: 2rem;
    fill: $green;
    margin-top: .2rem;
  }
}
