@import "../../../../app/styles/_theme.scss";

.blog-content,
.blog-post  {
  display: block;
  grid-area: content;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.blog-post {
  margin-top: 5rem;
  @media #{$tablet} {
    margin-top: 3rem;
  }
  h4 {
    text-align: center;
    font: italic 2rem/1.78 $medium;
    max-width: 65rem;
    margin: 6rem auto;
    color: $text;
    &:after {
      content: '';
      border-bottom: .3rem solid $pink;
      position: absolute;
      width: 15rem;
      height: 4.5rem;
      left: 50%;
      margin-left: -7.5rem;
    }
  }
  h5 {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: $grey;
    a {
      border-bottom: .2rem solid $pink;
      padding-bottom: .2rem;
      color: $grey;
      &:hover {
        color: $pink;
      }
    }
  }
  .blog-post-content-wrapper {
    max-width: 120rem;
    margin: 0 auto;
  }

  .blog-post-content {
    max-width: 75rem;
    margin: 6rem auto 0;
    h2 {
      font-size: 3rem;
      font-weight: 600;
      margin-top: 3rem;
      text-align: center;
      @media #{$tablet} {
        font-size: 4rem;
        margin-top: 2rem;
        text-align: left;
      }
    }
    h3 {
      font-size: 2.6rem;
      font-weight: 600;
      margin-top: 7rem;
      &.center {
        text-align: center;
      }
    }
    p, ul {
      font: 1.85rem $medium;
      line-height: 1.78;
      letter-spacing: -.01em;
      margin-top: 2.9rem;
      @media #{$tablet} {
        font: 2.2rem $medium;
        line-height: 1.98;
      }
      strong {
        color: $black;
      }
      a {
        padding: 10px 0;
        background-image: linear-gradient($pink,$pink);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: center bottom 22%;
        background-origin: padding-box;
        text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
        color: $pink;
      }
    }
    ul {
      li {
        list-style-type: disc;
        margin: 1rem 0 1rem 5rem;
      }
    }
  }

  .blog-post-slide {
    margin: 3rem 0;
    img {
      width: 100%;
      height: 50rem;
      object-fit: cover;
    }
  }

  .blog-post-photo {
    img {
      width: auto;
      max-width: 100%;
      object-fit: cover;
      object-position: center center;
      margin-bottom: .3rem;
    }
    .iframe-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
	    padding-top: 2.5rem;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    h5 {
      margin-bottom: 1rem;
    }

    &.left {
      margin: 0;
      float: none;
      @media #{$tablet} {
        float: left;
        margin: 2rem 3rem 0 -10rem;
      }
      img {
        @media #{$tablet} {
          max-width: 50rem;
        }
      }
      .iframe-wrapper {
        @media #{$tablet} {
          width: 50rem;
        }
      }
    }

    &.right {
      margin: 0;
      float: none;
      @media #{$tablet} {
        float: right;
        margin: 2rem -10rem 0 3rem;
      }
      img {
        @media #{$tablet} {
          max-width: 50rem;
        }
      }
      .iframe-wrapper {
        @media #{$tablet} {
          width: 50rem;
        }
      }
    }

    &.single {
      margin: 4rem 0 0;
      text-align: center;
      @media #{$tablet} {
        margin: 4rem auto 0;
      }
    }

    &.single-out {
      margin: 4rem 0 0;
      text-align: center;
      @media #{$tablet} {
        margin: 4rem -10rem 0;
      }
    }

    &.double {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem 0;
      margin: 4rem 0 0;
      @media #{$tablet} {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 2rem;
        margin: 4rem -10rem 0;
      }
    }

    &.zoom {
      img {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    &.full-height {
      max-height: 100%;
      margin: auto;
    }

    &.overflow {
      overflow: auto;
      height: 100%;
      max-height: 600px;
    }
  }
  .related-posts {
    border-top: .1rem solid $ligthGray;
    padding-top: 1rem;
    margin: 3rem auto 0;
    max-width: 128rem;
    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      margin: 3rem 0 1.5rem;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 2rem;
      @media #{$tablet} {
        grid-template-columns: 1fr 1fr 1fr;
      }
      li {
        background: $superLigthGray;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        @media #{$tablet} {
          margin-bottom: 0;
        }
        &:hover {
          a {
            img {
              border-bottom: .4rem solid $pink;
            }
          }
        }
        a {
          img {
            width: 100%;
            height: 19rem;
            object-fit: cover;
            object-position: center center;
            border-bottom: .4rem solid $superLigthGray;
          }
          h5 {
            padding: 1rem 2rem .7rem;
            text-align: left;
          }
          h3 {
            padding: 0 2rem;
            font-weight: 400;
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
